<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>
	<form class="form" action="/data_stored" method="POST" accept-charset="utf-8">
		{% csrf_token %}
		<label>Username:</label> <input type="text" class="form-control" name="username">

		<label>First Name:</label> <input type="text" class="form-control" name="first_name">

		<label>Last Name:</label> <input type="text" class="form-control" name="last_name">

		<label>Email:</label> <input type="email" class="form-control" name="email">
		
		<label>Password:</label> <input type="password" class="form-control" name="password">

		<label>Phone number:</label> <input type="number" class="form-control" name="phone_no">
		
		<label>Address:</label> <input type="text" class="form-control" name="address">
		
		<label>Date of Birth:</label> <input type="date" class="form-control" name="dob">

		<input type="submit"  class="btn btn-info" value="Submit" style="margin-top:80px;">
		<input type="submit"  class="btn btn-danger" value="Reset" style="margin-top:80px;">
	</form>
</body>
</html>